{% extends "layout.html" %}

{% block title %}
    Opio en las nubes - Gifs
{% endblock %}

{% block body %}
<img class="texto1" src="{{ url_for('static', filename='images/unalata.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/leyendo.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/trip.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/unavionopio.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/palomamagi.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/ambulancia.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/avionqueteatraviesa.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/mia2.gif') }}">

{% endblock %}