{% extends "layout.html" %}

{% block title %}
    Opio en las nubes - Home
{% endblock %}

{% block body %}
<img class="texto1" src="{{ url_for('static', filename='images/unalata.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx1.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/leyendo.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx2.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/trip.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx3.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/ciudaddestruida.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx4.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx5.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx6.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx7.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx8.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/palomamagi.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx9.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/amarilla.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx10.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/mia2.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx11.jpg') }}">

<img class="texto1" src="{{ url_for('static', filename='images/ambulancia.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx12.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/aejandra.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx13.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/vestido.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx14.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/12-35.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx15.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/avionqueteatraviesa.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx16.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx17.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx18.jpg') }}">
<video class="texto1" controls>
    <source src="{{ url_for('static', filename='images/kaputt.mp4') }}" type="video/mp4">
    
  Your browser does not support the video.
  </video>
<img class="texto1" src="{{ url_for('static', filename='images/tx19.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx20.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/21.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/esuntecho.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/22.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/23.jpg') }}">
<video class="texto1" controls>
    <source src="{{ url_for('static', filename='images/parque.mp4') }}" type="video/mp4">
    
  Your browser does not support the video.
  </video>
<img class="texto1" src="{{ url_for('static', filename='images/24.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/25.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/26.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/27.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/28.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/29.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/unavionopio.gif') }}">
{% endblock %}