{% extends "layout.html" %} {% block head %} {% endblock %} {% block title %}
Opio en las nubes - Pictures{% endblock %} {% block body %}

<img
  class="texto1"
  src="{{ url_for('static', filename='images/aejandra.jpg') }}"
/>
<img
  class="texto1"
  src="{{ url_for('static', filename='images/vestido.jpg') }}"
/>
<img
  class="texto1"
  src="{{ url_for('static', filename='images/esuntecho.jpg') }}"
/>
<img
  class="texto1"
  src="{{ url_for('static', filename='images/12-35.jpg') }}"
/>
<img
  class="texto1"
  src="{{ url_for('static', filename='images/ciudaddestruida.jpg') }}"
/>
<img
  class="texto1"
  src="{{ url_for('static', filename='images/amarilla.jpg') }}"
/>
<img
  class="texto1"
  src="{{ url_for('static', filename='images/parque.jpg') }}"
/>

{% endblock %}
