{% extends "layout.html" %}

{% block title %}
    Opio en las nubes - Textos
{% endblock %}

{% block body %}

<img class="texto1" src="{{ url_for('static', filename='images/tx1.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx2.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx3.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx4.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx5.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx6.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx7.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx8.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx9.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx10.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx11.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx12.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx13.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx14.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx15.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx16.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx17.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx18.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx19.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/tx20.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/21.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/22.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/23.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/24.gif') }}">
<img class="texto1" src="{{ url_for('static', filename='images/25.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/26.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/27.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/28.jpg') }}">
<img class="texto1" src="{{ url_for('static', filename='images/29.jpg') }}">







{% endblock %}