{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}
    Opio en las nubes - Videos
{% endblock %}

{% block body %}
<video class="texto1" controls>
    <source src="{{ url_for('static', filename='images/kaputt.mp4') }}" type="video/mp4">
    
  Your browser does not support the video.
  </video>
  <video class="texto1" controls>
    <source src="{{ url_for('static', filename='images/parque.mp4') }}" type="video/mp4">
    
  Your browser does not support the video.
  </video>
{% endblock %}